//scss components and variables
@import "./base";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $base-font;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

//HomePage
@import "./components/about";
@import "./components/header";
@import "./components/navBar";
@import "./components/footer";
@import "./components/popular";

//SignUp
@import "./pages/signup";
@import "./components/auth";

//LogIn
@import "./pages/login";

//User Dashboard
@import "./pages/userDashboard";
@import "./components/userInfo";

//AdminDashboard
@import "./pages/adminDashboard";
@import "./components/createCategory";
@import "./components/createProduct";

//Menu
@import "./pages/menu";
@import "./components/allProducts";
@import "./components/productPage";

//Shopping Cart
@import "./pages/shoppingCart";
@import "./components/cartItem";
