.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: $dark-gray;
  position: relative;
  overflow-x: hidden;
  .svg {
    position: absolute;
    z-index: -100;
  }
  .principalSection {
    .titleMenu {
      font-size: 1.8rem;
      text-align: center;
      span {
        font-family: $headers-font;
        color: $dark-yellow;
        font-size: 2.2rem;
      }
    }

    .loadMore {
      @extend %product-button;
      width: auto;
      float: right;
      margin: 3rem;
      background-color: $dark-yellow;
      border: none;
      &:hover {
        border: 2px solid $dark-yellow;
        background-color: transparent;
      }
    }
    .textMenu {
      width: 100%;
      max-width: 700px;
      text-align: center;
      margin: 0 auto;
      padding: 2rem 0 3rem 0;
    }
  }
  .newRecipes {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $light-gray;

    h4 {
      @extend %base-header;
      color: $light-yellow;
      padding: 0.5rem 2rem 0rem 2rem;
      text-align: center;
    }
    .newArrival {
      @extend %base-grid;
      width: 100%;
      padding: 2rem;

      a {
        position: relative;
        img {
          @extend %base-img;
          width: 90%;
          height: 200px;
          margin-left: 1.5rem;
          cursor: pointer;
        }
        p {
          position: absolute;
          top: -2.5rem;
          left: 1.5rem;
          padding: 0.3rem 0.5rem;
          opacity: 0;
          visibility: hidden;
          transition: opacity 0.3s;
          font-weight: bold;
          font-size: 1.2rem;
          color: $dark-yellow;
          background-color: white;
          border-radius: 10px;
        }
      }

      a:hover p {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.5s 0.2s;
        z-index: 50;
      }
      a:hover img {
        @extend %blur;
      }
    }
  }
}
