.shoppingCart {
  width: 95%;
  margin: 3rem 1.5rem;
  color: $dark-gray;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 70vh;
  h4 {
    @extend %base-header;
  }
  p {
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    img {
      height: 50px;
      width: 50px;
      margin: 0.3rem;
    }
    a {
      color: $dark-yellow;
      font-weight: bold;
      &:hover {
        border-bottom: 2px solid $dark-yellow;
      }
    }
  }
  .showItems {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .items {
      width: 55%;
    }
    .checkoutItems {
      width: 30%;
      margin: 1rem 3rem 0 0;
      .totalItems {
        border: 2px solid $dark-gray;
        border-radius: 10px;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: $background-gray;

        .orderItems {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          margin: 1rem 0rem;
          h5 {
            font-family: $headers-font;
            color: $dark-yellow;
            font-size: 1.5rem;
          }
          span {
            font-weight: bold;
            font-size: 1rem;
            padding-right: 0.3rem;
          }
        }
        a {
          margin: 0.5rem;
          button {
            @extend %product-button;
            width: auto;
            border: 2px solid $dark-yellow;
            float: right;
            &:hover {
              background-color: $dark-yellow;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 970px) {
    .showItems {
      flex-direction: column;
      .items {
        width: 90%;
      }
      .checkoutItems {
        width: 90%;
      }
    }
  }
}
