// fonts import
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Noto+Sans+HK:wght@400;700&display=swap");

//colors
$dark-gray: #464747;
$light-gray: #939597;
$dark-yellow: #ffc30b;
$light-yellow: #f5df4d;
$background-gray: rgba(147, 149, 151, 0.2);

//fonts
$base-font: "Noto Sans HK", sans-serif;
$headers-font: "Dancing Script", cursive;

//button
%base-button {
  border: 3px solid $dark-yellow;
  border-radius: 20px;
  background-color: $dark-yellow;
  color: $dark-gray;
  font-size: 1.2rem;
  padding: 0.6rem 2.5rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  &:hover {
    background-color: transparent;
  }
}
%product-button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
  width: 80px;
}

//img
%base-img {
  border-radius: 10px;
  box-shadow: 0 2px 4px black;
  object-fit: cover;
}

//link
%base-link {
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  &:hover {
    border-bottom: 2px solid $dark-yellow;
    transition: all 0.2s;
  }
}

//alert message
%alert-msg {
  text-align: center;
  border-radius: 10px;
  margin: 0.5rem 0rem;
  padding: 0.2rem 0rem;
}

//header
%base-header {
  color: $dark-yellow;
  font-family: $headers-font;
  font-size: 3rem;
}

//space between flex
%flex-between {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

//center column
%column-center {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

//grid section
%base-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 3rem;
  grid-row-gap: 5rem;
  margin: 0 auto;
}

%blur {
  transition: all 0.5s;
  &:hover {
    box-shadow: 4px 4px 4px $dark-gray;
    filter: blur(3px);
    transform: scale(1.08);
  }
}

%shadow {
  width: 100%;
  min-height: 100vh;
  overflow-y: scroll;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

%card {
  width: 80%;
  margin: 0 auto;
  border-radius: 1rem;
  padding: 1rem 5rem;
  background: white;
  position: absolute;
  left: 10%;
  color: black;
  z-index: 100;
}
%close {
  color: $dark-gray;
  float: right;
  margin: 0.5rem;
  cursor: pointer;
}
