//scss components and variables
@import "./base";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $base-font;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: $dark-gray;
  cursor: pointer;
}

ul {
  list-style: none;
}

.Routes {
  height: 100%;
}

//HomePage
@import "./components/about";
@import "./components/header";
@import "./components/navBar";
@import "./components/footer";
@import "./components/popular";

//SignUp
@import "./pages/signup";
@import "./components/auth";

//LogIn
@import "./pages/login";

//User Dashboard
@import "./pages/userDashboard";
@import "./components/userInfo";
@import "./components/userOrdersHistory";

//AdminDashboard
@import "./pages/adminDashboard";
@import "./components/createCategory";
@import "./components/createProduct";
@import "./components/orders";
@import "./components/updateProduct";
@import "./components/updateCategory";

//Menu
@import "./pages/menu";
@import "./components/allProducts";
@import "./components/productPage";

//Shopping Cart
@import "./pages/shoppingCart";
@import "./components/cartItem";
@import "./pages/checkout";

//Blog
@import "./pages/blog";
@import "./components/post";

//FAQ
@import "./pages/faq";

//Contacts
@import "./pages/contacts";
