.shadow {
  @extend %shadow;
  .productPage {
    @extend %card;
    .close {
      @extend %close;
    }
    h3 {
      @extend %base-header;
      text-align: center;
      margin: 1rem;
    }
    .productPageInfo {
      display: flex;
      justify-content: space-around;
      gap: 2rem;
      color: $dark-gray;
      .productImage {
        @extend %base-img;
        width: 60%;
        height: 50vh;
      }
      .productPageText {
        width: 50%;
        flex-grow: 1;
        .productIcons {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          p {
            margin: 0.5rem;
            display: flex;
            .productIcon {
              width: 30px;
              height: 30px;
              margin-right: 0.2rem;
            }
            span {
              font-weight: bold;
              margin-right: 0.2rem;
            }
          }
        }
        button {
          @extend %base-button;
          float: right;
        }
      }
    }
    .relatedProducts {
      @extend %base-grid;
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
      .related {
        width: 100%;
        .relatedProductImg {
          @extend %base-img;
          width: 100%;
          height: 30vh;
        }
        p {
          font-weight: bold;
        }
      }
    }
  }
  @media screen and (max-width: 1050px) {
    .productPage {
      width: 90%;
      left: 5%;
      .productPageInfo {
        width: 100%;
        .productPageText {
          width: 60%;
        }
        .productImage {
          width: 40%;
        }
      }
    }
  }

  @media screen and (max-width: 800px) {
    .productPage {
      .productPageInfo {
        width: 100%;
        flex-direction: column;
        align-items: center;
        .productPageText {
          width: 100%;
        }
        .productImage {
          width: 100%;
        }
      }
    }
  }
  @media screen and (max-width: 600px) {
    .productPage {
      h3 {
        font-size: 1.5rem;
        margin-top: 4rem;
      }
      .productPageInfo {
        .productPageText {
          width: 100%;
        }
        .productImage {
          width: 100%;
          height: 30vh;
        }
      }
    }
  }
}
