.updateCategory {
  width: 100%;
  @extend %column-center;
  align-items: flex-start;
  margin: 2rem;
  gap: 0.5rem;
  .allCategories {
    width: 100%;
    li {
      @extend %base-grid;
      grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
      margin: 0.5rem;
      .productName {
        color: $dark-yellow;
      }
      p {
        font-weight: bold;
      }
      span {
        color: $light-gray;
      }
      button {
        @extend %product-button;
        font-weight: bold;
        padding: 0.4rem 0.7rem;
        background-color: transparent;
      }
      .updateButton {
        border: 2px solid $dark-yellow;
        &:hover {
          background-color: $dark-yellow;
        }
      }
      .deleteButton {
        border: 2px solid $dark-gray;
        &:hover {
          background-color: $dark-gray;
        }
      }
    }
  }
}
